*{
  margin: 0;
  padding: 0;
}

.wrap{
  width: 1250px;
  margin: 0 auto;
}




/*nav-bar*/
.navigation{
  width:100%;
  height: 59px;
  background-color: rgba(161, 141, 115, 0.6);
  
}
.title{
  float: left;
  width: 100px;
  height: 50px;
  
}
.searchbar{
  float: left;
  margin-top: 7.5px;
  margin-left: 190px;
  width:600px;
  height:40px;
  
}
.nav-bar{
  margin-top: 5px;
  padding-top: 15px;
  padding-left: 80px;
  float: right;
  width:250px;
  height:50px;
  display: flex;
}

.searchbar>input{
  width:500px;
  height:39px;
  padding: 0 10px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  float: left;
}
.searchbar>button{
  width:42px;
  height: 40px;
  background-color:#fff ;
  border: 1px solid rgb(0, 0, 0);
  float:left;
}
.topbtn {
  border: 2%;
  background-color: inherit;
  padding: 5px 20px;
  font-size: 17px;
  margin-bottom: 20px;
}

.topbtn:hover {background: rgb(153, 139, 121);}


/*Featured Articles and tutorials*/
.tutorial{
  display: flex;
  margin-top: 30px;
  
}

.card{
  margin-left:180px
}

h1{
  margin-left: 45%;
  margin-top: 10px;
}

#image4 *{
  vertical-align:middle;
  font-size: 18px; 
}

.openbtn{
  width:180px;
  height:50px;
  font-size: large;
  background-color: #598386;
  border-radius: 50px;
  margin-left: 45%;
  border-style: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 15px;
}

/*End*/

/*Server email*/
.emailhead{
  height:49px;
  width: auto;
  float: left;
  margin-top: 17px;
  font-size: 18px;
  letter-spacing: 4px;
  padding-left: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.subbtn>input{
  width:500px;
  height:39px;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin-left: 1%;
}
.subbtn>button{
  width:99px;
  height: 40px;
  background-color:#fff ;
  border: 1px solid rgb(0, 0, 0);
  float:right;
  margin-right: 10%;
  border-radius: 5px;
  background-color: rgb(161, 154, 154);
  
}
.subbtn{
  padding-top: 10px;
}
.emailblock{
  width:100%;
  height: 59px;
  background-color: rgb(188, 185, 181,0.6);
  
  
}

/*END*/

/*Bottom*/
.end{
  color: rgb(0, 0, 0);
  width: 1300px;
  height: 450px;
  margin: 0 auto;
  background-color: #598386;
}

.left{
  width:330px;
  height: 300px;
  float: left;
  margin-left: 160px;
  padding-top: 40px;
  
}

.left>ul>li{
  list-style: none;
  font-weight: 500;
  margin:20px 0;
}

.mid{
  width:330px;
  height: 300px;
  float: left;
  padding-top: 40px;
  margin-left: 25px;
}

.mid>ul>li{
  font-weight: 500;
  margin:20px 0;
  margin-left: 5px;
  list-style: none;
}

.right{
  width:330px;
  height: 300px;
  padding-top: 40px;
  float: left;
  margin-left: 25px;
}

.right>a{
  margin:2px;
}

.down{
  padding-left: 180px;
  width:1000px;
  height: 100px;
  float: middle;
}

.down>h2{
  margin-left:330px;

}

.down>ul>li{
  list-style: none;
  float: left;
  margin:10px;
  margin-left:150px;

}


/*END*/